.fadeIn {
    animation: fadeIn 0.5s ease-in-out forwards;
}

.fadeOut {
    animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
