.topBarButton {
    border-radius: 8px;
    padding: 5px;
    top: 0;
    transition: background 0.15s;
    cursor: pointer;
}

@media (hover) {
    .topBarButton:hover {
        background: color-mix(
            in srgb,
            rgb(var(--foreground-rgb)) 10%,
            transparent
        );
    }
}
